<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Grupos de investigación')">
	<meta charset="utf-8" />
</head>

<body id="page-top" class="sidebar-toggled">
<nav th:replace="fragments/nav :: nav('card-0-nav')"></nav>
<nav th:replace="fragments/secondarynav"></nav>

<div id="wrapper">
	<div id="content-wrapper">
		<div class="container-fluid">
			<div class="region-hero">
				<div class="contenedor-hero">
					<div class="contenido-hero">
						<h1 class="titulo-hero">Grupos de Investigación</h1>
						Administración de grupos.
					</div>
				</div>
			</div>
			<div class="separador-1"></div>
			<a class="btn btn-primary" id="btnCrearGrupo">Agregar grupo</a> <br />
			<br />
			<div class="contenedor mb-3">
				<div class="contenedor-header">
					<i class="fas fa-table"></i> Lista de Grupos
				</div>
				<div class="contenedor-body">
					<div id="">
						<table id="tabla_Grupos_CRUD"
							   th:class="'table-' + ${id} + ' table-striped table-bordered table-hover table-responsive-lg'"
							   style="width: 100%">
							<thead>
							<tr>
								<th class="centrarItemsTabla">CÓDIGO COLCIENCIAS</th>
								<th class="centrarItemsTabla">NOMBRE</th>
								<th class="centrarItemsTabla">FACULTAD</th>
								<th class="centrarItemsTabla">CENTRO</th>
								<th class="centrarItemsTabla">LÍDER</th>
								<th class="centrarItemsTabla">CATEGORÍA</th>
								<th class="centrarItemsTabla">ACCIONES</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="grupo : ${listaGrupos}" th:if="${grupo.id}>0"
								th:id="'trGrupo'+${grupo.id}">
								<td class="centrarItemsTabla" th:text="${grupo.id}"></td>
								<td class="centrarItemsTabla" th:text="${grupo.nombre}"></td>
								<td class="centrarItemsTabla"
									th:text="${grupo.programas.get(0).facultad.nombre == 'SIN FACULTAD'}?${grupo.centro.facultad.nombre}:${grupo.programas.get(0).facultad.nombre}">
								</td>
								<td class="centrarItemsTabla" th:text="${grupo.centro.nombre}"></td>
								<td class="centrarItemsTabla" th:text="${grupo.lider}"></td>
								<td class="centrarItemsTabla" th:switch="${grupo.categoria}"><span
										th:case="'N/D'">NO RECONOCIDO</span> <span
										th:case="'SIN CATEGORÍA'">RECONOCIDO</span>
									<div th:case="*">
										<div th:text="${grupo.categoria}" />
									</div>
								</td>
								<td class="d-flex flex-nowrap align-items-center justify-content-center">
									<a class="btn btn-info mr-2"
									   th:onclick="editarGrupo([[${grupo}]]);">Editar</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:replace="fragments/footer"></div>
<div th:include="admin/grupos/save.html"></div>
</body>
<script th:inline="javascript">
	var data = [[${grupos}]];
	let modalGrupo = document.getElementById("agregarGruposModal");
	let span = document.getElementsByClassName("closeModalGrupo")[0];
	let body = document.getElementsByTagName("body")[0];
	let idCentroSeleccionado = 0;
	let idProgramaSeleccionado = 0;

	$(document).ready(function () {
		estilosBotones();

		$('#centro').on('change', function () {
			idCentroSeleccionado = this.value;
			console.log('Centro seleccionado:', idCentroSeleccionado);
		});

		$('#programa').on('change', function () {
			idProgramaSeleccionado = this.value;
			console.log('Programa seleccionado:', idProgramaSeleccionado);
		});

		$("#tabla_Grupos_CRUD").DataTable({
			"language": {
				"lengthMenu": "Mostrar _MENU_ registros por página",
				"zeroRecords": "No se encontraron coincidencias",
				"info": "Página _PAGE_ de _PAGES_",
				"infoEmpty": "No se encontraron registros",
				"infoFiltered": "(filtrado de _MAX_ registros totales)",
				"paginate": {
					"previous": "Página anterior"
				}
			}
		});

		$('#btnCrearGrupo').on('click', function (e) {
			modalGrupo.style.display = "block";
			body.style.position = "static";
			body.style.height = "100%";
			body.style.overflow = "hidden";
			$('#idTitleCrearGrupo').text('Crear Grupo');
			limpiarCampos();
			habilitarCampos();
			$('#campoid').val("-1");
		});

		$('.closeModalGrupo').on('click', function (e) {
			modalGrupo.style.display = "none";
			body.style.position = "inherit";
			body.style.height = "auto";
			body.style.overflow = "visible";
		});

		window.onclick = function (event) {
			if (event.target == modalGrupo) {
				modalGrupo.style.display = "none";
				body.style.position = "inherit";
				body.style.height = "auto";
				body.style.overflow = "visible";
			}
		};

		$('#guardarGruposModal').on('submit', function (e) {
			e.preventDefault();
			let data = $(this).serialize();
			$.ajax({
				type: "POST",
				url: "grupos/save/" + idCentroSeleccionado + "/" + idProgramaSeleccionado,
				data: data,
				beforeSend: function () {
					Swal.fire({
						title: 'Cargando...',
						allowOutsideClick: () => !Swal.isLoading(),
						onBeforeOpen: () => {
							Swal.showLoading();
						}
					});
				},
				success: function (response) {
					Swal.close();
					if (response.codigoRespuesta === 200) {
						Swal.fire({
							icon: 'success',
							title: response.mensajeRespuesta,
						}).then((value) => {
							location.reload();
						});
					} else {
						Swal.fire({
							title: '!Información¡',
							text: response.mensajeRespuesta,
							icon: 'info',
							confirmButtonText: 'Aceptar',
							allowOutsideClick: () => false
						});
					}
				},
				error: function () {
					Swal.close();
					Swal.fire({
						title: '¡Error!',
						text: 'Error de conexión ',
						icon: 'error',
						confirmButtonText: 'Aceptar',
						allowOutsideClick: () => false
					});
				}
			});
		});
	});

	function limpiarCampos() {
		$('.inputGrupos').val("");
	}

	function habilitarCampos() {
		$('.inputGrupos').prop('readonly', false);
		$('#centro').prop('disabled', false);
		$('#programa').prop('disabled', false);
	}

	function editarGrupo(grupo) {
		limpiarCampos();
		habilitarCampos();

		idCentroSeleccionado = grupo.centro.id;
		idProgramaSeleccionado = grupo.programas[0].id;

		$('#id').val(grupo.id);
		$('#nombre').val(grupo.nombre);
		$('#lider').val(grupo.lider);
		$('#areaConocimiento').val(grupo.areaConocimiento);
		$('#informacionGeneral').val(grupo.informacionGeneral);
		$('#categoria').val(grupo.categoria);
		$('#centro').val(grupo.centro.id);
		$('#anioFundacion').val(grupo.anioFundacion);
		$('#programa').val(grupo.programas[0].id);

		modalGrupo.style.display = "block";
		body.style.position = "static";
		body.style.height = "100%";
		body.style.overflow = "hidden";

		$('#idTitleCrearGrupo').text('Editar Grupo');
	}
</script>


</html>