<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Grupos de investigación')">
	<meta charset="utf-8" />
</head>

<body id="page-top" class="sidebar-toggled">
	<nav th:replace="fragments/nav :: nav('card-0-nav')"></nav>
	<nav th:replace="fragments/secondarynav"></nav>

	<div id="wrapper">
		<div id="content-wrapper">
			<div class="container-fluid">
				<div class="region-hero">
					<div class="contenedor-hero">
						<div class="contenido-hero">
							<h1 class="titulo-hero">Grupos de Investigación</h1>
							Administración de grupos.
						</div>
					</div>
				</div>
				<div class="separador-1"></div>
				<a class="btn btn-primary" id="btnCrearGrupo">Agregar grupo</a> <br />
				<br />
				<div class="contenedor mb-3">
					<div class="contenedor-header">
						<i class="fas fa-table"></i> Lista de Grupos
					</div>
					<div class="contenedor-body">
						<div id="">
							<table id="tabla_Grupos_CRUD"
								th:class="'table-' + ${id} + ' table-striped table-bordered table-hover table-responsive-lg'"
								style="width: 100%">
								<thead>
									<tr>
										<th class="centrarItemsTabla">CÓDIGO COLCIENCIAS</th>
										<th class="centrarItemsTabla">NOMBRE</th>
										<th class="centrarItemsTabla">FACULTAD</th>
										<th class="centrarItemsTabla">CENTRO</th>
										<th class="centrarItemsTabla">LÍDER</th>
										<th class="centrarItemsTabla">CATEGORÍA</th>
										<th class="centrarItemsTabla">ACCIONES</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="grupo : ${listaGrupos}" th:if="${grupo.id}>0"
										th:id="'trGrupo'+${grupo.id}">
										<td class="centrarItemsTabla" th:text="${grupo.id}"></td>
										<td class="centrarItemsTabla" th:text="${grupo.nombre}"></td>
										<td class="centrarItemsTabla"
											th:text="${grupo.programas.get(0).facultad.nombre == 'SIN FACULTAD'}?${grupo.centro.facultad.nombre}:${grupo.programas.get(0).facultad.nombre}">
										</td>
										<td class="centrarItemsTabla" th:text="${grupo.centro.nombre}"></td>
										<td class="centrarItemsTabla" th:text="${grupo.lider}"></td>
										<td class="centrarItemsTabla" th:switch="${grupo.categoria}"><span
												th:case="'N/D'">NO RECONOCIDO</span> <span
												th:case="'SIN CATEGORÍA'">RECONOCIDO</span>
											<div th:case="*">
												<div th:text="${grupo.categoria}" />
											</div>
										</td>
										<td class="d-flex flex-nowrap align-items-center justify-content-center">
											<a class="btn btn-info mr-2"
												th:onclick="editarGrupo([[${grupo}]]);">Editar</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer"></div>
	<div th:include="admin/grupos/save.html"></div>
</body>

<script th:inline="javascript">
	var data = [[${grupos}]];
	/**
			$.extend($.fn.dataTable.defaults, {
				
				language: {
					processing: "Procesamiento en curso...",
					search: "Buscar: ",
					lengthMenu: "Mostrando _MENU_ elementos",
					info: "Mostrando _START_ a _END_ de _TOTAL_ elementos",
					infoEmpty: "Mostrando 0 a 0 de 0 elementos",
					infoFiltered: "(filtrado de _MAX_ elementos en total)",
					infoPostFix: "",
					loadingRecords: "Cargando resultados...",
					zeroRecords: "No hay información para mostrar",
					emptyTable: "No hay información para mostrar",
					paginate: {
						first: "Primera",
						previous: "Anterior",
						next: "Siguiente",
						last: "última"
					}
				}
			});
	*/
	let modalGrupo = document.getElementById("agregarGruposModal");
	let span = document.getElementsByClassName("closeModalGrupo")[0];
	let body = document.getElementsByTagName("body")[0];
	//	Documento listo
	let idCentroSeleccionado = 0;
	let idProgramaSeleccionado = 0;
	let anioFundacion;
	$(document).ready(function () {
		estilosBotones();
		$('#centro').on('change', function () {
			idCentroSeleccionado = this.value;
			console.log(idCentroSeleccionado)
		});
		$('#programa').on('change', function () {
			idProgramaSeleccionado = this.value;
			console.log(idProgramaSeleccionado)
		});


		$("#tabla_Grupos_CRUD").DataTable({
			"language": {
				"lengthMenu": "Mostrar _MENU_ registros por página",
				"zeroRecords": "No se encontraron coincidencias",
				"info": "Página _PAGE_ de _PAGES_",
				"infoEmpty": "No se encontraron registros",
				"infoFiltered": "(filtrado de _MAX_ registros totales)",
				"paginate": {
					"previous": "Página anterior"
				}
			}
		});

		/**
			let grupos = $(".roleGrupo");
	
			for(let i = 0; i<grupos.length; i++){
				
				if(grupos[i].innerHTML=="ROLE_ADMIN"){
					grupos[i].innerHTML="ADMINISTRADOR";
				}else{
					grupos[i].innerHTML="Grupo";
				}
			}
			*/

		$('#btnCrearGrupo').on('click', function (e) {

			modalGrupo.style.display = "block";

			body.style.position = "static";
			body.style.height = "100%";
			body.style.overflow = "hidden";

			$('#idTitleCrearGrupo').text('Crear Grupo');
			limpiarCampos();
			$('#campoid').val("-1");

		});


		$('.closeModalGrupo').on('click', function (e) {
			modalGrupo.style.display = "none";
			body.style.position = "inherit";
			body.style.height = "auto";
			body.style.overflow = "visible";
		})

		window.onclick = function (event) {
			if (event.target == modalGrupo) {
				modalGrupo.style.display = "none";
				body.style.position = "inherit";
				body.style.height = "auto";
				body.style.overflow = "visible";
			}
		}

		// al hacer click en el boton del modal guardar
		$('#BtnGuardarGrupo').click(function () {
			let variables = $('.requaired');
			var contador = variables.length;
			for (var i = 0; i < variables.length; i++) {
				if ($(variables[i]).val() == '' || $(variables[i]).val() == undefined) {
					$(variables[i]).addClass('requerido');
					contador = contador - 1;
				} else {
					$(variables[i]).removeClass('requerido');
				}
			}
			if (contador != variables.length) {
				Swal.fire({
					title: '¡Error!',
					text: "Existen campos obligatorios que no se han registrado",
					icon: 'error',
					confirmButtonText: 'Aceptar',
					allowOutsideClick: () => false
				})
				return false;
			}
		});


		$('#guardarGruposModal').on('submit', function (e) {
			e.preventDefault();
			let data = $(this).serialize();
			$.ajax({
				type: "POST",
				url: "grupos/save/" + idCentroSeleccionado + "/" + idProgramaSeleccionado,
				data: data,
				beforeSend: function () {
					Swal.fire({
						title: 'Cargando...',
						allowOutsideClick: () => !Swal.isLoading(),
						onBeforeOpen: () => {
							Swal.showLoading();
						}
					});
				},
				success: function (response) {
					Swal.close();
					if (response.codigoRespuesta === 200) {
						Swal.fire({
							icon: 'success',
							title: response.mensajeRespuesta,
						}).then((value) => {
							location.reload();
						});

					} else {
						Swal.fire({
							title: '!Información¡',
							text: response.mensajeRespuesta,
							icon: 'info',
							confirmButtonText: 'Aceptar',
							allowOutsideClick: () => false
						})
					}

				},
				error: function () {
					Swal.close();
					Swal.fire({
						title: '¡Error!',
						text: 'Error de conexión ',
						icon: 'error',
						confirmButtonText: 'Aceptar',
						allowOutsideClick: () => false
					})
				}
			});

		});

	});

	function limpiarCampos() {
		$('.inputGrupos').val("");
	}


	function editarGrupo(grupo) {

		limpiarCampos();

		idCentroSeleccionado = grupo.centro.id;
		idProgramaSeleccionado = grupo.programas[0].id;
		$('#id').val(grupo.id);
		$('#nombre').val(grupo.nombre);
		$('#lider').val(grupo.lider);
		$('#areaConocimiento').val(grupo.areaConocimiento);
		$('#informacionGeneral').val(grupo.informacionGeneral);
		$('#categoria').val(grupo.categoria);
		$('#centro').val(grupo.centro.id);
		$('#anioFundacion').val(grupo.anioFundacion);
		$('#programa').val(grupo.programas[0].id);

		modalGrupo.style.display = "block";
		body.style.position = "static";
		body.style.height = "100%";
		body.style.overflow = "hidden";

		$('#idTitleCrearGrupo').text('Editar Grupo');
	}


</script>

</html>